.confirm-button-class {
    background-color: white !important;
    border: 0.1px solid #3085d6 !important;
    color: #3085d6 !important;
    box-shadow: none !important;
}

.confirm-button-class:hover {
    background-color: #3085d6 !important;
    color: white !important;
}

a {
    color: black;
}
